/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
  
}
:root {
  --main-color: #033a80;
  --bg-color: #fff;
  --text-color: #0f0c27;
  --hover: hsl(260, 100%, 51%);
 
  --big-font: 3.2rem;
  --medium-font: 1.8rem;
  --p-font: 0.941rem;
}
section {
  padding: 50px 10%;
}
body.active {
  --text-color: #fff;
  --bg-color: #0f0c27;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
 transition-timing-function: ease;
}
*::selection {
  color: var(--bg-color);
  background: var(--main-color);
}
.heading {
  text-align: center;
  margin-bottom: 30px;
}
.heading h2 {
  font-size: 35px;
}
 
.heading span {
  font-size: var(--p-font);
  color: rgb(3, 166, 71);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 13px 10%;
  transition: 0.2s;
  box-shadow: -3px -3px 7px #ffffff73,
				2px 2px 5px rgba(94, 104, 121, 0.288);
}
header.shadow {
  box-shadow: 0 0 4px rgb(14 55 54 / 15%);
  width: 100%;
}
@media (max-width: 767px) {
  .header.shadow {
    box-shadow: 0 0 4px rgb(14 55 54 / 15%);
    width: 390px;
  }}

.logo {
  font-size: 1.61rem;
  font-weight: 600;
  color: var(--text-color);
}
.navbar {
  display: flex;
}
.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}
.navbar a:hover {
  color: var(--hover);
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
#darkmode {
  font-size: 22px;
  cursor: pointer;
}

.typewriter h2 {
  font-size: 2em;
  overflow: hidden; /* Ensures the text is not visible outside the containing element */
  border-right: .15em solid #033a80; /* Creates the typewriter cursor effect */
  white-space: nowrap; /* Prevents the text from wrapping */
  margin: 0; /* Ensures the text is positioned correctly */
  letter-spacing: .15em; /* Adds a slight gap between each letter */
  animation: typing 5s steps(30, end) infinite, blink-caret .5s step-end infinite;
  animation-iteration-count: infinite; /* Makes the animation repeat indefinitely */
}
.typewriter{ 
     width: 250px;
}

/* The typing animation */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor blink effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:  #033a80 }
}

/* Home's CSS */
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
}
.home-img {
  order: 3;
}
.home-img img {
  width: 100%;
}
.home-text span {
  font-size: var(--medium-font);
  font-weight: 500;
}
.home-text h1 {
  font-size: var(--big-font);
}
.home-text h2 {
  font-size: 1.1rem;
  font-weight: 400;
}
.home-text p {
  font-size: var(--p-font);
  font-weight: 400;
  margin: 0.7rem 0 1rem;
}
@media (max-width: 767px) {
  .home {
    grid-template-columns: 1fr;
  }

  .home-text {
    text-align: center;
  }

  .home-img {
    order: 3;
  }
  .typewriter{
    margin-left: 20%;
  }
}
.social {
  display: flex;
  flex-direction: column;
}
.social a {
  margin-bottom: 1rem;
  font-size: 35px;
  color: var(--text-color);
}
.social a:hover {
  color: var(--hover);
}
.btn {
  display: inline-block;
  background: var(--main-color);
  color: #fff;
  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;
}
.btn:hover {
  background: var(--hover);
}
 
/* About's CSS */

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}
 
.about-img img {
  width: 80%;
  border-radius: 0.5rem;
}
.about-text p {
  font-size: var(--p-font);
  font-weight: 400;
  text-align: justify;
}
.information {
  margin: 1rem 0 1.4rem;
}
.information .info-box {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}
.information .info-box .bx {
  font-size: 22px;
}
.information .info-box span {
  font-weight: 400;
  margin-left: 1rem;
}
@media (max-width: 767px) {
  .about-container {
    grid-template-columns: 1fr;
  }

  .information {
    margin:10px;
  }

  .information .info-box {
    margin-bottom: 1rem;
  }

  .information .info-box .bx {
    font-size: 20px;
  }

  .information .info-box span {
    font-size: 14px;
  }
  .about-text{
    margin-left: 20px;
  }
}

/* Skill's CSS */

.skills-container {
  display: grid;
  gap: 30px;
}
.bars-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.bars-box h3,
span {
  font-size: 1.1rem;
  font-weight: 500;
}
.light-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: hsla(260, 100%, 44%, 0.4);
  border-radius: 0.5rem;
}


.percent-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5rem;
  background: var(--main-color);
  border-radius: 0.5rem;
  animation: fill 5s forwards;
  animation-iteration-count: infinite;

}
/* Box 1 - HTML */
.bars-box .html-bar {
  animation: fill-html 20s forwards;
  animation-iteration-count: infinite;
}

@keyframes fill-html {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}

/* Box 2 - CSS */
.bars-box .css-bar {
  animation: fill-css 20s forwards;
  animation-iteration-count: infinite;
}

@keyframes fill-css {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}

/* Box 3 - JavaScript */
.bars-box .js-bar {
  animation: fill-js 20s forwards;
  animation-iteration-count: infinite;
}

@keyframes fill-js {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
/* Box 4 - Angular */
.bars-box .angular-bar {
  animation: fill-angular 20s forwards;
  animation-iteration-count: infinite;
}

@keyframes fill-angular {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

/* Box 5 - TypeScript */
.bars-box .typescript-bar {
  animation: fill-typescript 20s forwards;
  animation-iteration-count: infinite;
}

@keyframes fill-typescript {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

/* Box 6 - SCSS */
.bars-box .scss-bar {
  animation: fill-scss 20s forwards;
  animation-iteration-count: infinite;
}

@keyframes fill-scss {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
/* Box 7 - Bootstrap */
.bars-box .bootstrap-bar {
  animation: fill-bootstrap 20s forwards;
  animation-iteration-count: infinite;
}

@keyframes fill-bootstrap {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

/* Box 8 - Canva */
.bars-box .canva-bar {
  animation: fill-canva 20s forwards;
  animation-iteration-count: infinite;
}

@keyframes fill-canva {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

/* Box 9 - Git */
.bars-box .git-bar {
  animation: fill-git 20s forwards;
  animation-iteration-count: infinite;
}

@keyframes fill-git {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

/* Box 10 - SASS */
.bars-box .sass-bar {
  animation: fill-sass 20s forwards;
  animation-iteration-count: infinite;
}

@keyframes fill-sass {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

/* Box 11 - PHP */
.bars-box .php-bar {
  animation: fill-php 20s forwards;
  animation-iteration-count: infinite;
}

@keyframes fill-php {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

/* Box 12 - MySQL */
.bars-box .mysql-bar {
  animation: fill-mysql 20s forwards;
  animation-iteration-count: infinite;
}

@keyframes fill-mysql {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

/* Box 13 - Figma */
.bars-box .figma-bar {
  animation: fill-figma 20s forwards;
  animation-iteration-count: infinite;
}

@keyframes fill-figma {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}





.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
.services-box {
  padding: 20px;
  width: 260px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content:space-between;
  margin: 10px;
  border-radius: 30px;
  box-shadow: rgba(52, 52, 97, 0.671) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.575) 0px 18px 26px -18px inset;
}

.services-box:hover{
 background-color: #02225a;
}

.services-box h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.7rem 0 0.4rem;
}
.services-box:hover h3{
  color: #fff;
}
.services-box .bx {
  padding-top: 2rem;
  font-size: 54px;
  color: var(--main-color);
}
.services-box:hover .bx{
  color: #22cf91;
}
.services-box a {
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 500;
}
.services-box:hover a{
  color: #8b8a8f;
}
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1rem;
  margin-top: 2rem;
}
.portfolio-img {
  overflow: hidden;
  border-radius: 0.5rem;
}
.portfolio-img img {
  width: 100%;
  display: block;
}
.portfolio-img img:hover {
  transform: scale(1.1);
  transition: 1s;
}
.contact-form {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  width: 650px;
}
form input,
textarea {
  padding: 15px;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background: hsla(260, 100%, 44%, 0.1);
  margin-bottom: 1rem;
  color: var(--text-color);
}
form input::placeholder,
textarea::placeholder {
  color: var(--text-color);
}
form textarea {
  resize: none;
  height: 200px;
}
.contact-button {
  width: 160px;
  cursor: pointer;
  background: #0f0c27;
  color: #fff;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 35%;
}
.contact-button:hover {
  background: var(--hover);
}
.footer {
  display: grid;
  place-items: center;
  padding: 20px;
  background: #0f0c27;
  color: #ffffff;
  height: 260px;
  width: 100%;
}
.footer h2 {
  font-size: 50px;
  margin-bottom: 10px;
  position: absolute; 
  display: flex;
  bottom:170px;
  width: 500px;
  align-items: center;
  justify-content: center;
}

.footer-social{
  position: relative;
  bottom: 1px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social a i{
  color:#000000;
  font-size: 25px;
  margin-left: 10px;
  text-align: center;
  line-height: 40px;
  background-color: #ebebeb;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
}

.footer-social a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .footer {
    height: 300px;
    width: 451px;
  }

  .footer h2 {
    font-size: 30px;
    bottom: auto;
    text-align: center;
    margin-bottom: 20px;
    width: auto;
    position: static;
  }

  .footer-social {
    bottom: auto;
    position: static;
    width: auto;
    bottom: 0px;
  }

  .footer-social a i {
    color: #000000;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    bottom: 40px;
  }

  .footer-social a {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 70px;
    margin-top: 10px;
  }

  .foermedia {
    bottom: auto;
    position: static;
    width: auto;
    margin-top: 20px;
  }
}

.copyright {
  position: absolute;
  bottom: 5px;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.copyright p{
  width: 400px;
}
.copyright a{
  color: green;
}

/* Making Responsive */
@media (max-width: 991px) {
  header {
    padding: 18px 4%;
    width: 390px;
  }
  section {
    padding: 50px 4%;
  }
}
@media (max-width: 881px) {
  :root {
    --big-font: 2.7rem;
    --medium-font: 1.4rem;
  }
}
@media (max-width: 768px) {
  :root {
    --big-font: 2.4rem;
    --medium-font: 1.2rem;
  }
  header {
    padding: 11px 4%;
  }
  #menu-icon {
    display: initial;
    color: var(--text-color);
  }
  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    transition: 0.2s ease;
    text-align: center;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a {
    padding: 1.5rem;
    display: block;
    background: var(--bg-color);
  }
  #darkmode {
    position: absolute;
    top: 1.4rem;
    right: 2rem;
  }
  .scroll-down {
    display: none;
  }
  .home {
    grid-template-columns: 0.5fr 3fr;
  }
  .home-text {
    grid-column: 1/3;
    padding-left: 1.4rem;
  }
  .home-img {
    order: initial;
  }
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-img {
    display: flex;
    justify-content: center;
  }
  .skills-container {
    grid-template-columns: 1fr;
  }
  .skills-img img {
    padding-left: 0;
  }
  .skills-img {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
  }
  .contact-form form{
    width: 300px;
  }
  .contact-button{
    margin-left: 25%;
  }
}
@media (max-width: 340px) {
  :root {
    --big-font: 1.7rem;
    --medium-font: 1.1rem;
  }
  .home-text span {
    font-size: 1rem;
  }
  .home-text h2 {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .information .info-box span {
    font-size: 1rem;
  }
  .portfolio-content {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }
  .contact-form form{
    width: 300px;
  }
  .contact-button{
    margin-left: 25%;
  }
}


#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px;
}

.services-content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.services-box {
  margin-bottom: 40px;
}

.services-box h3 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.services-box a {
  display: inline-block;
  font-size: 16px;
  color: #333;
  border-bottom: 2px solid #333;
  padding: 5px 10px;
}

#load-more-container {
  margin: 20px;
  text-align: center;
}

#load-more {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}


#load-buttons-container {
  text-align: center;
  margin-top: 20px;
}

#load-more,
#load-less {
  border: none;
  background-color: #033a80;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#load-more:hover,
#load-less:hover {
  background-color: #0056b3;
}

#load-more.hide {
  display: none;
}
.hidden {
  display: none;
}



/* Portfolio section */

.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}

.sixth-grid-item {
  grid-row: 3;
  grid-column: 1 / span 3;
}

  .portfolios .portfolio-item {
    position: relative;
    border-radius: 15px;
  }
  .portfolios .portfolio-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
  }
  .portfolios .portfolio-item .hover-items {
    width: 100%;
    height: 100%;
    background: rgb(15,12,39);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
  }
  .portfolios .portfolio-item .hover-items h3 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1.5rem;
  }
  .portfolios .portfolio-item .hover-items .icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .portfolios .portfolio-item .hover-items .icons .icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    color: white;
  }
  .portfolios .portfolio-item .hover-items .icons .icon i {
    font-size: 1.5rem;
    color: white;
    margin: 0 1rem;
  }
  .portfolios .portfolio-item .hover-items .icons .icon:hover {
    background-color: white;
  }
  .portfolios .portfolio-item .hover-items .icons .icon:hover i {
    color: #ffffff;
  }
  
  .portfolio-item:hover .hover-items {
    opacity: 1;
    transform: scale(1);
  }

  @media only screen and (max-width: 768px) {
    .portfolios {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    
    .portfolios .portfolio-item .hover-items h3 {
      font-size: 1rem;
    }
    
    .portfolios .portfolio-item .hover-items .icons .icon {
      width: 30px;
      height: 30px;
      margin: 0 0.5rem;
    }
    
    .portfolios .portfolio-item .hover-items .icons .icon i {
      font-size: 1rem;
      margin: 0 0.5rem;
    }
  }

  

  /* Scroll button */

  #progress {
    position: fixed;
    bottom: 20px;
    right: 50%;
    height: 60px;
    width: 60px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px #0f0c27a9;
    cursor: pointer;
  }
  #progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
  }

  /* Github */
  .github {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    background: #0f0c27;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    margin-left: 45%;
    margin-top: 40px;
  }
  
  .github span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;

  }
  
  .github svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .github:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  .github:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  .github:hover span {
    transform: translateX(5em);
  }
  
  .github:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }

  @media only screen and (max-width: 768px) {
    .github {
      font-size: 16px;
      padding: 0.5em 0.8em;
      margin-top: 20px;
    }
    
    .github span {
      margin-left: 0.2em;
    }
    
    .github svg {
      width: 20px;
      height: 20px;
    }
  }

  /* Cursor */
  .cursor {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #181d38;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background-color:rgb(255, 255, 255) ;
  }
  .cursor::after,
  .cursor::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgba(138, 138, 138, 0.692);
    height: 20px;
    width: 20px;
    border-radius: 50px;
  }
  .cursor::before {
    background-color: rgb(0, 0, 0);
  }
  .cursor.click::before {
    animation: click 1s ease forwards;
    background-color: #181d38;
  }
  @keyframes click {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(7);
    }
  }
/* Experience */
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  font-size: 13px;
  transition: 1s;
}


.sectionClass {
  padding: 80px 0px 50px 0px;
  position: relative;
  display: block;
  
}

.row {
  width: 980px;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.sectiontitle {
  background-position: center;
  text-align: center;
  min-height: 20px;
}

.sectiontitle h2 {
  font-size: 30px;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.headerLine {
  width: 160px;
  height: 2px;
  display: inline-block;
  background: #101F2E;
}

.fullWidth {
  width: 100%;
  display: table;
  float: none;
  padding: 0;
  min-height: 1px;
  height: 100%;
  position: relative;
}

/********************************/
/*  SECTION WORK EXPERIENCE
********************************/

#work-experience .sectiontitle .headerLine {
  width: 280px;
}

#work-experience .headerline {
  width: 280px;
}

.cbp_tmtimeline {
  margin: 60px 30px 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.cbp_tmtimeline:before {
  content: '';
  position: absolute;
  top: 3%;
  bottom: 0;
  width: 10px;
  background: #324454;
  left: 13%;
  height: 100%;
}

.cbp_tmtimeline li:last-child:before {
  content: initial;
}

.cbp_tmtimeline > li .cbp_tmtime {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
  display: block;
  text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
  font-size: 0.9em;
  color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
  font-size: 2.9em;
  color: #3594cb;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
  color: #6cbfee;
}

.cbp_tmtimeline > li .cbp_tmlabel {
  margin: 0 0 15px 25%;
  background: rgba(50, 68, 84, 1);
  color: #FFF;
  padding: 30px;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  font-family: "Poppins", sans-serif;
  position: relative;
  border-radius: 5px;
  min-height: 150px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
  background: #2B3A48;
}

.cbp_tmtimeline > li .cbp_tmlabel h3 {
  margin-top: 0px;
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.cbp_tmtimeline > li .cbp_tmlabel h4 {
  opacity: 0.7;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 600;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  text-align: left;
}

.cbp_tmtimeline > li .cbp_tmlabel h4 i {
  margin-right: 5px;
  vertical-align: middle;
}

.cbp_tmtimeline > li .cbp_tmlabel:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: rgba(50, 68, 84, 1);
  border-width: 10px;
  top: 70px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
  border-right-color: #2B3A48;
}

.cbp_tmtimeline > li .cbp_tmicon {
  width: 150px;
  height: 150px;
  top: 3%;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #151515;
  background: #324454;
  border-radius: 50%;
  text-align: center;
  left: 8%;
  margin: 0 0 0 -25px;
}

.cbp_tmtimeline li {
  margin-bottom: 70px;
  position: relative;
}

.sectionClassProject {
  position: relative;
  display: block;
  /* background: #f7f7f7; */
  
  margin: 0 auto;
  padding: 80px 1.875em 3.125em;
}

.projectParagraph {
  font-size: 18px;
  margin: 0.5em 0 0;
  font-family: "Poppins", sans-serif;
}

.projectParagraphLink {
  font-size: 15px !important;
  font-weight: 500 !important;
  margin-top: 50px !important;
  margin-bottom: 0px;
  text-align: right;
}

.projectParagraphLink a {
  color: white;
  text-decoration: underline;
}

.cbp_tmicon img {
  width: 100%;
}

.faPra {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 70px;
  vertical-align: middle;
  color: white;
  line-height: 150px;
}

.label {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  color: #FFFFFF;
  display: inline;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
  padding: 5px 15px;
}

.date {
  color: #BFC3C7;
  display: block;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  top: 30px;
  right: 20px;
}

.date i {
  margin-right: 8px;
  vertical-align: top;
  font-size: 18px;
  line-height: 20px;
}

@media (max-width: 1024px) {
  .cbp_tmtimeline:before {
    display: none;
  }
  .cbp_tmtimeline > li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }
  .cbp_tmtimeline > li .cbp_tmtime span {
    text-align: left;
  }
  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 30px 0 70px 0;
    padding: 50px 30px 30px 30px;
    font-weight: 400;
    font-size: 95%;
    float: left;
  }
  .cbp_tmtimeline > li .cbp_tmlabel:after {
    right: auto;
    border-right-color: transparent;
    border-bottom-color: rgb(50, 68, 84);
    top: -20px;
  }
  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: transparent;
    border-bottom-color: rgb(43, 58, 72);
    left: 65px;
  }
  .cbp_tmtimeline > li:nth-child(even) .cbp_tmlabel:after {
    right: 65px;
  }
  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmicon {
    position: relative;
    float: left;
    left: auto;
    margin: 0px 5px 0 0px;
  }
  .cbp_tmtimeline > li:nth-child(even) .cbp_tmicon {
    position: relative;
    float: right;
    left: auto;
    margin: 0px 5px 0 0px;
  }
  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 1.5em;
  }
}

@media (max-width: 32em) {
  .cbp-ntaccordion {
    font-size: 70%;
  }
}

/* AUTHOR LINK */


footer{
  z-index: 100;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer p {
color: rgb(255, 255, 255);
  font-size: 16px;
  opacity: 0;
  font-family: "Poppins", sans-serif;
  width: 100%;
    word-wrap: break-word;
  line-height: 25px;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  margin: 0;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  transition: all 250ms ease;
}

footer .authorWindow a{
  color: white;
  text-decoration: none;
}

footer p strong {
    color: rgb(255, 255, 255);
}

.about-me-img {
  width: 120px;
  height: 120px;
  left: 10px;
  /* bottom: 30px; */
  position: relative;
  border-radius: 100px;
}


.about-me-img img {
}


.authorWindow{
  width: 600px;
  background: #000000;
  padding: 22px 20px 22px 20px;
  border-radius: 5px;
  overflow: hidden;
}

.authorWindowWrapper{
  display: none;
  left: 110px;
  top: 0;
  padding-left: 25px;
  position: absolute;
}

.trans{
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  transition: all 500ms ease;
}

@media screen and (max-width: 768px) {
    .authorWindow{
         width: 210px;
    }

    .authorWindowWrapper{
             bottom: -170px;
  margin-bottom: 20px;
    }
  }


  .linkebi{
    position: absolute;
    bottom: -20px;
    left: 0;
 }

 /* carousel*/
 .slider {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 600px;
  height: 600x;
  transition: transform 0.3s ease-in-out;
  margin-left: 50px;
  margin-right: 50px;
}

.slide {
  width: 600px;
  height: 600px;
  background-size: cover;
  background-position: center;
}



.buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  background-color: rgba(128, 128, 128, 0.568);
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff79;
  width: 50px;
  height: 70px;
}

.prev {
  margin-left: 0px;
}

.next {
  margin-right: 0px;
}


.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
  font-family: "Poppins", sans-serif;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.alert {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  position: absolute;
  bottom: 100%;
  left: 0px;
  padding: 4px 4px 4px 8px;
  color: #222;
  white-space: nowrap; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;  
  border-radius: 5px;  
  -moz-box-shadow: 0px 0px 4px #241a70;  
  -webkit-box-shadow: 0px 0px 4px #241a70;  
  box-shadow: 0px 0px 4px #241a70;  
  background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);  
  background-image: -webkit-linear-gradient(top, #f8f8f8, #cccccc);  
  background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);  
  background-image: -ms-linear-gradient(top, #f8f8f8, #cccccc);  
  background-image: -o-linear-gradient(top, #f8f8f8, #cccccc);
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
  font-size: 12px;
}
[data-title] {
  position: relative;
}
